@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: #cfcfcf;
}
::-webkit-scrollbar-thumb {
  background: #a5a5a5;
}

body{
  background-color: rgb(17 24 39);
  height: 100%; 
  min-height: 100vh;
}

.dark{
  height: 100%;
}